:root {
  --basic-color: #FFFFFF;
  --controls-background-color: #F1F1F1;
  --border-pagination-active: #DBDBDB;
  --header-color: #EEEEEE;
  --special-white-color: #E1E1E1;
  --color-disabled-checkbox: #EDEDED;
  --scale-background-color: #D7DCDE;
  --button-filter-hover: #DFDFDF;
  --button-filter-active: #D5D5D5;
  --mail-form-hover: #B4B9BB;
  --background-color-toggle: #ABABAB;
  --box-shadow-toggle: rgba(0, 0, 0, 0.15);
  --box-shadow-products: rgba(0, 1, 1, 0.25);
  --link-product-border-top: rgba(30%, 30%, 30%, 0.12);
  --link-product-border-top-hover: rgba(30%, 30%, 30%, 1);
  --basic-text-color: #000000;
  --nav-link-active-color: rgba(0, 0, 0, 0.3);
  --box-shadow-color: rgba(0, 1, 1, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.4);
  --text-link-active: rgba(255, 255, 255, 0.3);
  --basic-button-color: #FB565A;
  --hover-button-color: #E74246;
  --active-button-color: #D7373B;
  --second-link-color: #00CA74;
  --second-link-hover: #00BC6C;
  --second-link-active: #00AA62;
  --third-link-color: #EFC849;
  --third-link-hover: #EAB534;
  --third-link-active: #E5A722;
  --description-text: #283136;
  --contacts-color: #666666;
  --border-input-radio: #A6A6A6;
  --border-color-checkbox: #4D4D4D;

}

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text-color);
  background-color: var(--basic-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.list-item {
  list-style-type: none;
}

.header {
  margin: 0;
  padding-top: 46px;
  background-color: var(--header-color);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.most-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 50px;
  color: var(--basic-color);
  background-color: var(--basic-button-color);
  border-radius: 3px;
}

.most-links:hover {
  background-color: var(--hover-button-color);
}

.most-links:focus,
.most-links:active {
  background-color: var(--active-button-color);
  box-shadow: inset 0 3px 0 var(--box-shadow-color);
  border-radius: 3px;
  color: var(--text-link-active);
}

.navigation {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
}

.navigation li {
  position: relative;
}

.navigation .catalog-underscores::after {
  content: "";
  width: 98%;
  height: 2px;
  background: var(--basic-button-color);
  position: absolute;
  top: 42px;
  left: 1px;
}

.navigation a {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-text-color);
  text-transform: uppercase;
}

.text-link:hover {
  color: var(--basic-button-color);
}

.text-link:focus,
.text-link:active {
  color: var(--nav-link-active-color)
}

.logo-link:active,
.logo-link:focus {
  opacity: 0.3;
}

.site-navigation {
  display:flex;
  flex-wrap: wrap;
  padding-left: 38px;
  margin-top: 0;
  margin-right: 6px;
  margin-bottom: 18px;
}

.site-navigation li {
  margin-right: 46px;
}

.site-navigation li:first-child {
  margin-right: 44px;
}

.site-navigation li:nth-child(2) {
  margin-right: 47px;
}

.cart-icon {
  margin-right: 21px;
}

.cart {
  margin: 0 0 18px 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider .heading-slider {
  font-weight: 500;
  font-size: 55px;
  line-height: 56px;
  margin-bottom: 26px;
}

.slider .slider-description {
  color: var(--description-text);
  margin-bottom: 38px;
}

.slider {
  background-color: var(--header-color);
  padding-bottom: 73px;
}

.slider-section {
  position: relative;
}

.slider-link {
  width: 240px;
}

.slider-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  margin-bottom: 10px;
  position: relative;
}

.slider-img:first-child {
  position: absolute;
  left: 397px;
  top: -10px;
}

.slider-img:nth-child(2) {
  position: absolute;
  left: 408px;
  top: -10px;
}

.slider button {
  padding: 0;
  width: 18px;
  height: 18px;
  background: var(--basic-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  z-index: 30;
  top: 307px;
  left: 536px;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls .current {
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position:center center;
}

.service-block-content {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 62px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--header-color);
}

.service-block li {
  margin-right: 60px;
}

.service-block h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.service-block p {
  color: var(--description-text);
}

.service-block a {
  width: 160px;
}

.service-block-content .most-links {
  margin-top: 33px;
}

.service-block-content figure {
  margin: 0;
}

.link-second {
  background-color: var(--second-link-color);
}

.link-second:hover {
  background-color: var(--second-link-hover);
}

.link-second:active,
.link-second:focus {
  background: var(--second-link-active);
}

.service-block .link-third {
  background-color: var(--third-link-color);
}

.service-block .link-third:hover {
  background-color: var(--third-link-hover);
}

.service-block .link-third:active,
.service-block .link-third:focus {
  background: var(--third-link-active);
}

.about-us {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 138px;
  column-gap: 138px;
  padding: 12px 0 57px;
  border-bottom: 2px solid var(--header-color);
}

.about .description-heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--description-text);
  margin-bottom: 33px;
}

.about .description-functions {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--description-text);
  margin-top: 40px;
}

.about ul {
  padding: 0;
}

.about li {
  display: flex;
  align-items: center;
  line-height: 150%;
  color: var(--description-text);
  padding-top: 7px;
  margin-bottom: 17px;
}

.function::before {
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 12px;
  background: var(--basic-button-color);
}

.about-percent {
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.accuracy-img {
  margin-top: 11px;
  margin-bottom: 30px;
}

.accuracy {
  margin: 0;
  margin-left: 8px;
  margin-bottom: 27px;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
}

.accuracy-table {
  margin-right: 10px;
}

.accuracy-table .percent {
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  padding: 0 19px 9px 0;
}

.percent sup {
  font-size: 28px;
}

.accuracy-table .percent-description {
  line-height: 18px;
  color: var(--description-text);
}

.friends ul {
  display: flex;
  padding: 0;
  padding-bottom: 36px;
  border-bottom: 2px solid var(--header-color);
  margin-top: 46px;
  margin-bottom: 81px;
  flex-wrap: wrap;
}

.friends li {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 290px;
}

.htmlacademy-icon {
  padding-right: 27px;
  padding-top: 11px;
}

.borodinsky-icon {
  padding-right: 9px;
}

.pink-icon {
  padding-left: 14px;
}

.mishka-icon {
  padding-left: 32px;
  padding-top: 6px;
}

.friends li:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 52px;
  background: var(--header-color);
  position: absolute;
  top: 18px;
  left: 279px;
}

.friends li:nth-child(3)::after {
  left: 299px;
}

.friends li:nth-child(2)::after {
  left: 289px;
}

.friends a {
  opacity: 0.2;
}

.friends a:hover {
  opacity: 1;
}

.friends a:focus,
.friends a:active {
  opacity: 0.1;
}

.maps {
  margin-top: 0;
  position: relative;
}

.maps iframe {
  width: 100%;
  border: none;
}

.map-img {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 416px;
  position: absolute;
  z-index: -2;
}

.map-marker {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 86px;
  left: 822px;
}

.contacts-container {
  position: relative;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:0 50px 48px;
  position: absolute;
  bottom: 61px;
  left: 0;
  background: var(--basic-color);
}

.contacts h3 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 25px;
}

.contacts p {
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--contacts-color);
}

.contacts .call {
  margin-top: 0;
  margin-bottom: 35px;
  color: var(--contacts-color);
}

.mail-button {
  width: 219px;
}

.footer h2 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 16px;
  margin-top: 21px;
}

.footer {
  display: flex;
  height: 205px;
  justify-content: space-between;
  align-items: center;
}

.footer .sail {
  margin-right: 218px;
}

.subscribe-link {
  display: flex;
  padding-left: 0;
  margin-top: 12px;
}

.subscribe-link li {
  padding-right: 9px;
}

.subscribe-link  a {
  display: flex;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, var(--special-white-color),var(--special-white-color)), var(--basic-color);
  border-radius: 50%;
}

.subscribe-link  a:hover {
  background: linear-gradient(0deg, var(--hover-button-color), var(--hover-button-color)), var(--basic-color);
}

.subscribe-link a:active,
.subscribe-link a:focus {
  background: linear-gradient(0deg, var(--active-button-color), var(--active-button-color)), var(--basic-color);
  box-shadow: inset 0 3px 0 var(--box-shadow-color);
}

.subscribe-link a:active .social-networks,
.subscribe-link a:focus .social-networks {
  opacity: 0.3;
}

.price {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-bottom: 57px;
}

.filter-item legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--controls-background-color);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-background-color);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--second-link-color);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-color);
  background-color: var(--background-color-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--box-shadow-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-number {
  -moz-appearance: textfield;
}

.price-number::-webkit-inner-spin-button {
  display: none;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--description-text);
  border: none;
  border-radius: 5px;
  background: var(--controls-background-color);
}

.fieldset-grid {
  margin:0;
}

.fieldset-grid ul {
  padding-left: 36px;
  margin-bottom: 31px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-bottom: 16px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top:-1px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--border-input-radio);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -28px;
  width: 9px;
  height:9px;
  background-color: var(--border-input-radio);
  border-radius: 50%;
}

.fieldset-features {
  margin:0;
}

.fieldset-features ul {
  padding-left: 36px;
  margin-bottom: 32px;
}

.filter-input-checkbox+label::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: -36px;
  top: 0;
  border: 2px solid var(--border-input-radio);
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -31px;
  width: 22px;
  height: 17px;
  background-image: url("../img/shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:active::before,
.filter-input-checkbox + label:focus::before{
  border-color: var(--border-color-checkbox);
}

.filter-input-checkbox + label:hover::after,
.filter-input-checkbox + label:active::after,
.filter-input-checkbox + label:focus::after{
  background-image: url("../img/shape-active.svg");
  z-index: 100;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:active::before,
.filter-input-radio + label:focus::before{
  border-color: var(--border-color-checkbox);
}

.filter-input-radio + label:hover::after,
.filter-input-radio + label:active::after,
.filter-input-radio + label:focus::after {
  background-color: var(--border-color-checkbox);
}

.filter-input-checkbox:disabled + label::before,
.filter-input-radio:disabled + label::before {
  border-color: var(--color-disabled-checkbox);
}

.filter-input-checkbox:disabled + label::after {
  background-image: url("../img/shape-disabled.svg");
}

.filter-input-radio:disabled + label::after {
  background-color: var(--color-disabled-checkbox);
}

.heading-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 235px;
  background-color: var(--header-color);
}

.heading-catalog h2 {
  font-weight: 500;
  font-size: 55px;
  margin-top:41px;
  margin-bottom: 85px;
  margin-right:17px;
}

.catalog-content {
  display: flex;
}

.all-catalog .legend-heading {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.legend-heading-cost {
  margin-bottom: 50px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 42px;
  margin-bottom: 33px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin-left: 97px;
  margin-top: 36px;
}

.filter-list {
  margin-top: 54px;
}

.sorting-type {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding:0;
  margin-left: 221px;
}

.sorting-more {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.sorting-type li {
  position: relative;
  margin: 0;
  margin-right: 25px;
}

.sorting-more li {
  position: relative;
}

.sorting-type li:last-child {
  margin: 0;
}

.text-dir {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.text-dir:hover {
  mix-blend-mode: normal;
  opacity: 0.6;
}

.text-dir:hover {
  mix-blend-mode: normal;
  opacity: 0.6;
}

.text-dir-active,
.text-dir:active,
.text-dir:focus {
  opacity: 1;
}

.dir {
  position: absolute;
  top:-7px;
  left:-40px;
  width: 11px;
  height: 10px;
  margin-right: 27px;
  background-image: url("../img/icon-dir.svg");
  background-repeat: no-repeat;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.up {
  transform: rotate(180deg);
  left:-10px;
}

.dir:hover {
  opacity: 1;
}

.active-dir,
.dir:active,
.dir:focus {
  background-image: url("../img/icon-active-dir.svg");
  opacity: 1;
}

.fieldset {
  border: 0 none;
  padding: 0;
}

.button-filter {
  border:0 none;
  width: 260px;
  background: var(--header-color);
  color: var(--basic-text-color);
}

.button-filter:active,
.button-filter:focus {
  color: var(--nav-link-active-color);
}

.product {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding-left: 43px;
  gap:26px 43px;
  margin-top: 0;
  margin-bottom: 48px;
}

.link-product {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  border-top: 40px solid var(--link-product-border-top);
  border-radius: 4px 4px 0 0;
}

.link-product:hover {
  border-top: 40px solid var(--link-product-border-top-hover);
  box-shadow: 0 6px 15px var(--box-shadow-products);
}

.link-product:hover .click-order {
  display: flex;
}

.link-product:before {
  content: "";
  background-image: url("../img/circle.svg");
  display: block;
  width: 61px;
  height: 14px;
  position: absolute;
  left: 16px;
  top: -27px;
}

.buy-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 360px;
  height: 231px;
  background: var(--header-color);
  position: absolute;
  bottom:0;
}

.click-order {
  display:none;
}

.link-product:hover .click-order {
  display:flex;
}

.buy-order-button {
  width: 200px;
  min-height: 50px;
  color: var(--basic-color);
  background-color: var(--basic-button-color);
  border-radius: 3px;
  cursor: pointer;
  margin:0;
  border: none;
}

.buy-order-button:hover {
  background-color: var(--hover-button-color);
}

.buy-order-button:active {
  background: var(--active-button-color);
  box-shadow: inset 0 3px 0 var(--box-shadow-color);
  border-radius: 3px;
}

.buy-order a {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-text-color);
  margin-top: 26px;
  margin-bottom: 12px;
}

.buy-order p {
  line-height: 18px;
  color: var(--contacts-color);
  margin-top: 0;
  margin-bottom: 32px;
}

.pagination {
  display: flex;
  padding-left: 42px;
  margin-top: 0;
  margin-bottom: 60px;
}

.pagination li{
  margin-right: 11px;
}

.sorting a {
  color: var(--basic-text-color);
}

.button-pagination {
  width: 50px;
}

.button-filter:hover {
  background-color: var(--button-filter-hover);
}

.button-filter:active,
.button-filter:focus {
  background-color: var(--button-filter-active);
  box-shadow: inset 0 3px 0 var(--box-shadow-color);
  border-radius: 3px;
}

.button-pagination-active,
.button-pagination-active:hover,
.button-pagination-active:active,
.button-pagination-active:focus {
  width:44px;
  min-height:44px;
  cursor: default;
  border: 3px solid var(--border-pagination-active);
  background-color: var(--basic-color);
  box-shadow: none;
}

.button-pagination-active:active,
.button-pagination-active:focus {
  color: var(--basic-text-color);
}

.modal {
  position: fixed;
  min-width: 960px;
  min-height: 590px;
  top: 120px;
  left: 50%;
  z-index: 40;
  display: none;
  margin-left: -480px;
  background: var(--basic-color);
  box-shadow: 0 20px 40px var(--shadow-color);
}

.modal-show {
  display:block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-window .mail-form {
  display:flex;
  flex-direction: column;
}

.mail-form {
  font: inherit;
  background-color: transparent;
  width: 340px;
  height: 45px;
  border:2px solid var(--scale-background-color);
  border-radius: 3px;
}

.mail-form:hover {
  border-color: var(--mail-form-hover);
}

.mail-form:focus {
  border-color: var(--basic-text-color);
}

.mail-textarea {
  width: 730px;
  height: 96px;
  padding: 10px 13px;
  resize: none;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 112px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active,
.modal-close:focus {
  opacity: 0.1;
}

.button-submit {
  border: none;
  width: 259px;
}

.mail-container label {
  font-weight: bold;
  line-height: 18px;
  padding-bottom: 10px;
}

.mail-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: -webkit-min-content -webkit-min-content auto -webkit-min-content;
  grid-template-rows: min-content min-content auto min-content;
  padding: 62px 80px 40px 100px;
}

.window-heading {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin-top: 0;
  margin-bottom: 36px;
}

.name-email {
  display:flex;
}

.name-email p {
  display: flex;
  flex-direction: column;
  margin-top:0;
  margin-right: 42px;
  margin-bottom: 32px;
}

.name-email  input {
  padding-left: 14px;
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 45px;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
