:root {
	--basic-color: white;
	--header-color: #EEEEEE;
	--basic-text-color: #000000;
}

body {
	min-width: 1180px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-text-color);
	background-color: var(--basic-color);
}

li {
	list-style-type: none;
}

header {
	margin: 0;  
    padding-top: 46px;
	background-color: var(--header-color);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
/* grid */

html {
	height: 100%;
}

body {
	min-height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* все ссылки-кнопки */
.order {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	text-transform: uppercase;
}

a:focus .text-button{ 
	opacity: 0.3;
}
/* навигация */

.navigation {
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 1160px;
}
.navigation a {
	color: var(--basic-text-color);
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.navigation a:hover {
    color: #FB565A;
}

.navigation a:focus {
	color: var(--basic-text-color);
    opacity: 0.3;
}

.logo {
	padding-left: 10px; 
}

.site-navigation {
	display:flex;
}

.site-navigation li {
	margin-right: 46px;

}

.cart-icon {
	margin-right: 20px;
}

.cart {
	margin: 0 -5px 16px 30px;
}


/* слайдер */
.visualy-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.slider .heading-slider {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.slider .slider-water {
	color: #283136;
} 

.slider {
	background-color: var(--header-color); 
	display: none; /* временно*/
}

.slider-order {
	width: 240px;
	height: 50px;
	color: var(--basic-color);
	background-color: #FB565A;
	border-radius: 3px;
}
/* блок услуг */
.service-block-content {
	display: flex;
	justify-content: space-between;
	padding:0;
	padding-top: 65px;
	padding-bottom: 80px;
	border-bottom: 2px solid var(--header-color); 
  	
}
.service-block li {
	padding-left: 10px;
	margin-right: 50px;

}

.service-block h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 20px;
	text-transform: uppercase;
}

.service-block p {
	color: #283136;
}

.service-block a {
	width: 160px;
	height: 50px;
	color: var(--basic-color);
	border-radius: 3px;
}
.service-block-content .order {
	margin-top: 30px;
}

.order-first {
	background-color: #FB565A;
}

.order-first:hover {
	background-color: #E74246;
}

.order-first:focus {
	background: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	border-radius: 3px;
}

.order-second {
	background-color: #00CA74;
}

.order-second:hover {
	background-color: #00BC6C;
}

.order-second:focus {
	background: #00AA62;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	border-radius: 3px;
}

.service-block .order-third {
	background-color: #EFC849;
}

.service-block .order-third:hover {
	background-color: #EAB534;
}

.service-block .order-third:focus {
	background: #E5A722;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	border-radius: 3px;
}
/* вода */
.about-us {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 138px;
	padding-top: 10px;
	

}
.about .description-heading {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #283136;
	margin-bottom: 35px;
}

.about .description-functions {
	margin-bottom: 
	font-weight: bold;
	text-transform: uppercase;
	color: #283136;
	margin-top: 40px;
}
.about ul {
	padding: 0;
}
.about li {
	display: flex;
	align-items: center;
	line-height: 150%;
	color: #283136;
	padding-top: 5px;
	margin-bottom: 20px;
}
.about .dash{	
	width: 25px;
	height: 2px;
	margin-right: 12px;
	background: #FB565A;
}


.about-text {
	padding-left: 10px;
}

.about-percent {
	margin-top: 10px;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
}

.accuracy {	
	margin: 35px 0 0 10px;
	align-self: center;
	font-weight: bold;
	text-transform: uppercase;
}

.accuracy-table th {
	text-align: left;
	font-weight: bold;
	font-size: 45px;
	line-height: 64px;
}

.accuracy-table td {
	line-height: 18px;
	color: #283136;
}

.friends {
	display: none;
}

.maps {
	display: none;
}

/* страница коталога */

.price {
	display: none;   /* временно*/
} 

.heading-catalog {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 235px;
	background-color: var(--header-color);
}

.all-catalog h2 {
	font-weight: 500;
	font-size: 55px;
	padding-bottom: 40px;
}

.catalog-content {
	display: flex;
}

.all-catalog .legend-heading {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;	
}

.sorting {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	margin-left: 110px;
}

.product {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto min-content;
	gap: 41px;
}

.pagination {
	display: flex;
}
.pagination li{
    margin-right: 11px;
}

.sorting a {
	color: var(--basic-text-color);
}

.sorting-type {
	display: flex;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-filter fieldset {
  border: 0 none; 
}

.button-filter span{
	color: var(--basic-text-color);
	font-weight: 500;
	text-transform: uppercase;
}

.button-filter {
	border:0 none;
	width: 260px;
    height: 50px;
	background: var(--header-color);
    border-radius: 3px;
}

.button-pagination {
	width: 50px;
    height: 50px;
}

.button-filter:hover {
	background: #DFDFDF;
}

.button-filter:focus {
	background: #D5D5D5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	border-radius: 3px;
}


/* контакты */
.contacts .call {
	color: #666666;
}
.contacts p {
	color: #666666;
}

.mail-button {
	width: 219px;
	height: 50px;
	color: var(--basic-color);
	background-color: #FB565A;
	border-radius: 3px;
}
/* футер */

.footer h2 {
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 20px;
}
.footer {
	display: flex;
	height: 217px;
	justify-content: space-between;
	align-items: center;
}

.footer .sail {
	padding-right: 210px;
}

.subscribe-link {
	display: flex;
	padding-left: 10px;
}
.subscribe-link li {
	padding-right: 9px;
}
.subscribe-link  a {
	display: flex;
	justify-content: center;
	width: 81px;
	height: 81px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    border-radius: 50%;
    
}

.subscribe-link  a:hover {
	background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.subscribe-link a:focus {
	background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}



